.texto-informativo {
    align-self: center;
    text-align: center;
}

.aviso-informativo {
    background-color: rgb(224 172 8 / 32%);
    border-radius: 4px;
    padding: 10px;
}

.escolha-informativo {
    background-color: rgba(var(--ion-color-primary-rgb), 0.4);
    border-radius: 4px;
    padding: 10px;
}

.vbox-informativo {
    height: 100%;
    align-content: space-between;
    grid-template-rows: 1fr 0fr 0fr;
    padding: 20px;
}

ion-modal {
    --width: 290px;
    --height: 382px;
    --border-radius: 8px;
}

ion-modal ion-datetime {
    height: 382px;
}

ion-datetime {
    height: auto;
    width: auto;
    max-width: 350px;
}

.botoes-centrais-grid-num-1 {
    --grid-num: 1;
}

.botoes-centrais-grid-num-2 {
    --grid-num: 2;
}

.botoes-centrais-grid-num-3 {
    --grid-num: 3;
}

.botoes-centrais-grid-num-4 {
    --grid-num: 4;
}

.botoes-centrais {
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    place-items: center;
    gap: 10px;
    cursor: pointer;
    aspect-ratio: 1;
    width: calc(90vw / var(--grid-num));
    max-width: 300px;
}

.botoes-centrais ion-icon {
    font-size: 6em;
}

.botao-calendario {
    border-radius: 4px;
    padding: 10px;
}

.botao-danger {
    background-color: rgba(var(--ion-color-danger-rgb), 0.4);
    border-radius: 4px;
    padding: 10px;
}

.botao-primary {
    background-color: rgba(var(--ion-color-primary-rgb), 0.4);
    border-radius: 4px;
    padding: 10px;
}

.botao-success {
    background-color: rgba(var(--ion-color-success-rgb), 0.4);
    border-radius: 4px;
    padding: 10px;
}

.modal-meta {
    --height: 120px;
}